name: Auto Assign

on:
    issues:
        types: [opened, reopened]
    pull_request_target:
        types: [opened, reopened]

permissions:
    issues: write
    pull-requests: write

jobs:
    assign-author:
        runs-on: ubuntu-slim
        steps:
            - uses: toshimaru/auto-author-assign@v3.0.1
